<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384548393289-katgun1g1pbpeg6coo30sbateroe928q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384548393289-katgun1g1pbpeg6coo30sbateroe928q</string>
	<key>API_KEY</key>
	<string>AIzaSyCpVkKAzi6lS4pIsvgr1AE9qEAQgv8c0EA</string>
	<key>GCM_SENDER_ID</key>
	<string>384548393289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zb.dev.Aviation</string>
	<key>PROJECT_ID</key>
	<string>aviation-dev-1</string>
	<key>STORAGE_BUCKET</key>
	<string>aviation-dev-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384548393289:ios:68ce4b2a682273e4660a98</string>
</dict>
</plist>